body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.left-column {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
}

.right-column {
    border-left: 6px solid black;
    height: 500px;
    position: absolute;
    right: 51%;
}


.card {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;

}


h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circle {
    width: 500px;
    height: 500px;
    background-color: yellow;
    border-radius: 500px;
    flex-wrap: wrap;
}

h3 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}